= link_to "Back", user_workouts_path
%h1
  = @workouts.first.name
%br

%table
  %tr
    %td{class: "top_row"}
      Date
    - @workouts.first.attributes.each do |attr_name, value|
      %td
        - if value != nil
          - if filter_result(attr_name)
            = attr_name.capitalize
    - @workouts.each do |workout|
      %tr
        %td
          - day = workout.created_at.day
          - month = workout.created_at.month
          - year = workout.created_at.year
          = "#{month}/#{day}/#{year}"
        - @workouts.first.attributes.each do |attr_name, value|
          %td
            - if value != nil
              - if filter_result(attr_name)
                = value 