.container
  = form_for @user, url: {action: "verify"} do |f| 
    = f.text_field :email, placeholder: 'Email', class: "login-input"
    = f.text_field :password, placeholder: 'Password', class: "login-input"
    = f.submit "Login", class: "btn"

    = link_to "Sign Up", new_user_path, id: "signup"

%br
%br

.flash_msg
  - flash.each do |name, msg|
    = msg