.container
  = form_for @user do |f| 

    = f.text_field :name, placeholder: 'Name', class: "input-field"

    = f.text_field :email, placeholder: 'Email', class: "input-field"  

    = f.text_field :password, placeholder: 'Password', class: "input-field" 

    = f.submit "Signup", class: "btn"